[2016-06-22 20:03] benjick opened #1 "Publish?"
Can you publish this or is something missing?

Cheers

[2016-06-22 20:18] dr-dimitru commented on #1
Hi @benjick
This package is far away from stable.
Actually we just cloned it.

I think it will be published during 1-2 weeks

[2016-06-28 09:12] benjick commented on #1
Thanks @dr-dimitru! :)

[2016-07-14 08:30] thearabbit commented on #1
I waiting this...
👍

[2016-07-14 09:21] Neobii commented on #1
I'm going to have an example of autoform integration pretty soon with
GridFS.  It will get it further to the finish line.

On Thu, Jul 14, 2016 at 3:30 AM, Yuom Theara <notifications@github.com>
wrote:

[2016-07-15 22:05] Neobii commented on #1
Here's a stripped down example of how I'm using it in autoform.  https://github.com/Neobii/files-gridfs-autoform-example .  There's a bunch of limitations right now, but hopefully ya'll can help me work them out and eventually make an autoform field input out of this.

[2016-07-20 08:14] Neobii commented on #1
Hey ya'll I just pushed a version that works, but is not complete, check it out, hopefully some pull requests will start coming in!

[2016-07-20 08:14] Neobii opened #2 "Clear uploaded images after successful autoform input"

[2016-07-20 08:15] Neobii opened #3 "Multiple files vs single files"

[2016-07-20 08:15] Neobii opened #4 "Ability to customize input fields and other templates"

[2016-07-20 08:25] thearabbit commented on #1
Thanks, I will try soon.

[2016-08-04 15:39] dr-dimitru commented on #1
Published: https://atmospherejs.com/ostrio/autoform-files

[2016-08-04 15:39] #1 closed

[2016-08-04 16:01] benjick opened #5 "Getting an error with the published version"
[code]

My code:

[code]

and then in the schema

[code]

[2016-08-04 16:05] dr-dimitru commented on #5
Hi @benjick
 - Which version of FilesCollection are you using?
 - Which version of Meteor?

[2016-08-04 16:07] dr-dimitru commented on #5
And most important quesion: *Is* `Images` *available in global scope?*

[2016-08-04 16:11] benjick commented on #5
Hey

I'm using `METEOR@1.4.0.1` and `ostrio:files@1.6.9`.

I'm not sure with on the global scope, but if I don't put `const` in from of `Images = new FilesCollection({` I get this error:

[code]

[2016-08-04 16:13] dr-dimitru commented on #5
Change to:
[code]

[2016-08-04 16:16] dr-dimitru commented on #5
Hold on. Ignore my previous comment.
There is a bug

[2016-08-04 17:38] benjick commented on #5
What I would want is something like this (but I don't know if it good enough)

Images.js:
[code]

MySchema.js
[code]

Or maybe that's weird?

[2016-08-04 17:41] dr-dimitru commented on #5
Won't work. `collection` must be a string

[2016-08-04 17:42] benjick commented on #5
Ah, okay, I understand

[2016-08-04 17:59] #5 closed

[2016-08-04 18:01] dr-dimitru commented on #5
Hi @benjick ,
Should be fixed in v1.0.1, please check on your end.

[2016-08-04 19:36] benjick commented on #5
Getting this on page load:

[code]

and then when I select an image:

[code]

Using version `1.0.1`

[2016-08-04 19:37] benjick commented on #5
Btw, this is with the original code I posted, should I change to anything?

[2016-08-04 20:44] dr-dimitru commented on #5
@benjick looks good to me

[2016-08-05 17:40] dr-dimitru commented on #5
@benjick have you solved it?

[2016-08-05 17:43] benjick commented on #5
I'm without computer for now, but you can close it I guess, I will try when
I get back from vacation

On 5 Aug 2016 19:40, "dr.dimitru" <notifications@github.com> wrote:

[2016-08-05 17:45] dr-dimitru commented on #5
@benjick it is closed. Okay, just let m know when you will be able to test it.

Have good vacation time 🎉 🎉 🎉 🎉 🎉

[2016-08-11 15:03] zcrowe opened #6 "Unexpected Token?"
Here's a weird one for you, I'm getting an unexpected Token ' ) ' error on this line:

`this.collectionName = () => this.data.atts.collection
`
It's more then likely something in my app ...but im not sure how to diaganose - any pointers?

[2016-08-12 02:39] Neobii commented on #6
Have you added the ecmascript package? meteor add ecmascript

[2016-08-12 07:51] zcrowe commented on #6
Yeah, it's been my app since the beginning - anything else I can tell you?

[2016-08-12 07:52] Neobii commented on #6
link your full file I'll take a look real quick

On Fri, Aug 12, 2016 at 2:51 AM, zcrowe <notifications@github.com> wrote:

[2016-08-12 07:58] dr-dimitru commented on #6
@zcrowe hm... am I missing something, or this file has no `ostrio:files` and `ostrio:ostrio:autoform-files` ?

[2016-08-12 07:59] zcrowe commented on #6
Only thing missing are my brain cells :)

I copied from the wrong branch:

[code]

--

*Encourage genuine recommendations.*

http://www.digitalanimal.com

London: +44 (0) 207 724 9363

Birmingham: +44 (0) 121 698 2143

Digital Animal Limited is registered in England and Wales under company
number: 07757607.

[2016-08-12 08:02] dr-dimitru commented on #6
Full error stack, please. Or your app doesn't even builds?

[2016-08-12 08:08] zcrowe commented on #6
Ok - this just got interesting :)

I've only been testing in Safari, and the line in my first comment is the only error output I get anywhere.  In my autoform form I get the label for my Picture field, but no input.

As a result I opened Chrome to see if it would tell me more, and interestingly the Picture field IS there, however when I submit I get this in the console:

[code]

[Screenshot if it

[2016-08-12 08:09] zcrowe commented on #6
Oops - this too:

[code]

[2016-08-12 08:10] dr-dimitru commented on #6
Weird... How do you define FilesCollection and Schema?

[2016-08-12 08:11] dr-dimitru commented on #6
You probably use different names for variable in global scope and collection name itself, __note: it's case-sensitive__

[2016-08-12 08:17] zcrowe commented on #6
I thought so!

At this point I'm using exactly whats in the Readme, I'm new to Meteor - so this sounds like I'm missing something...

My collection:

[code]

I don't have anything in my Schema that's explicitly for my images, but want to use them as an attribute of a separate collection called devices:

[code]

I'm not sure I completely understand what you mean by having the collection in the glob

[2016-08-12 08:20] dr-dimitru commented on #6
Is `Images` variable available in your browser console?

[2016-08-12 08:22] zcrowe commented on #6
No not in the console ...using Meteor Toys i can this: https://www.dropbox.com/s/jkmfazdqd0llojf/Screenshot%202016-08-12%2009.21.21.png?dl=0 <https://www.dropbox.com/s/jkmfazdqd0llojf/Screenshot%202016-08-12%2009.21.21.png?dl=0> if it's of any relevance :)

Zaid

--

*Encourage genuine recommendations.*

http://www.digitalanimal.com

London: +44 (0) 207 724 9363

Birmingham: +44 (0) 121 698 2143

[2016-08-12 08:34] Neobii commented on #6
It's my fault, I pushed some dev code the wrong branch.  Try pulling from master, I promise I won't break it for a while!

[2016-08-12 08:46] zcrowe commented on #6
I've run meteor remove ostrio:files, and ostrio:autoform-files then re added them - but still getting the same issue does this take time to propagate?

I'll clone to my local packages for now and try it..

[2016-08-12 08:50] zcrowe commented on #6
Hmmm - same issue with a cloned version running local...let me know if there's anything I can do :)

[2016-08-12 09:03] zcrowe commented on #6
Done :)

[2016-08-12 14:02] dr-dimitru commented on #6
Mow code committed to master branch can affect published version to Atmosphere?

[2016-08-17 18:35] ankitv89 commented on #6
I am getting the same error and I added the package from atmosphere today. Any leads what I did wrong and what I can do to make this work?

The error messages are same as posted by @zcrowe .

[2016-08-17 19:06] dr-dimitru commented on #6
@ankitv89 I guess it isn't published yet

[2016-08-17 19:09] ankitv89 commented on #6
Thanks for he reply @dr-dimitru. Looking forward to it.

If possible can I get any pointers on what I changes were suggested to @zcrowe by @Neobii that it worked.

[2016-08-17 19:29] dr-dimitru commented on #6
@ankitv89 meanwhile you can use previous version, at least try

[2016-08-17 19:57] ankitv89 commented on #6
@dr-dimitru  I tried with v1.0.0- This gave an error regarding function $gt. With v 1.0.1/1.0.2 same error as mentioned above.

Thanks for the help. I guess, it is best to wait till the next release.

[2016-08-17 20:03] zcrowe commented on #6
I wound up rolling own solution using auto form and collection hooks, and
an s3 package - sorry I can't be if more help!

Sent from my iPhone

On 17 Aug 2016, at 20:57, Ankit Verma <notifications@github.com> wrote:

@dr-dimitru <https://github.com/dr-dimitru> I tried with v1.0.0- This gave
an error regarding function $gt. With v 1.0.1/1.0.2 same error as mentioned
above.

Thanks for the help. I gu

[2016-08-21 03:02] dr-dimitru commented on #6
Heads up, please update to [latest release](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/1.0.4)

Let me know if issue persist

[2016-08-21 03:02] dr-dimitru commented on #2
Done in [v1.0.4](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/1.0.4)

[2016-08-21 03:02] #2 closed

[2016-08-23 13:44] epos opened #7 "Build error"
When building for Linux with Meteor 1.4.0.1 or 1.4.1 the build fails.

Steps to reproduce:
meteor add ostrio:autoform-files
meteor build ../builtlnx --architecture os.linux.x86_64

Error message:
C:\Users\[...]\AppData\Local\.meteor\packages\standard-minifier-js\1.1.8\plugin.
minifyStdJS.os\npm\node_modules\meteor\minifier-js\node_modules\meteor\minifier-
js\node_modules\uglify-js\lib\parse.js:196

[2016-08-23 13:49] epos commented on #7
PS: thanks for that **GREAT** package.

[2016-08-25 18:17] dr-dimitru commented on #7
Hi @epos ,

Somehow I've missed this issue. There is was few package updates since this issue was created.
Could you please update, and ping me back if issue still exists?

[2016-08-25 18:18] dr-dimitru commented on #6
Hi @zcrowe and @ankitv89 ,
Have you had a chance to update and check this issue on the latest release?

[2016-08-26 06:28] ankitv89 commented on #6
Hi @dr-dimitru . I fell back to `yogiben:autoform-file` as I had to finish the project. I haven't used this again. I will let you know when I give this one a try next week.

[2016-08-26 11:49] zcrowe commented on #6
I wound up rolling my own, but I will loop back round to giving this a try in the next few weeks.

Zaid

--

*Encourage genuine recommendations.*

http://www.digitalanimal.com

London: +44 (0) 207 724 9363

Birmingham: +44 (0) 121 698 2143

Digital Animal Limited is registered in England and Wales under company
number: 07757607.

[2016-08-26 12:29] dr-dimitru commented on #6
Thank you folks, waiting for update from your end

[2016-08-26 21:34] krishaamer commented on #6
Also getting this error with everything updated to latest.

[2016-08-27 05:12] dr-dimitru commented on #6
Hi @krishaamer ,

 1. Are you getting this on build (*or when using* `--production` *flag ?*), or just when you run `meteor`?
 2. Is `ecmascript` package installed?
 3. Is `standard-minifier-js` installed? If this package is installed, what happens if you remove it ([known issue to Meteor](https://github.com/meteor/meteor/issues/5387))?

[2016-08-27 10:07] #6 closed

[2016-08-27 10:07] dr-dimitru commented on #6
Hi all, please latest release v1.0.6
This issue should be fixed. Waiting for your feedback

[2016-08-30 06:31] epos commented on #7
Thanks dr-dimitru, I'm going to test it today and get back to you.

[2016-08-30 18:22] dr-dimitru commented on #7
Meanwhile there is newer release, please make sure you've updated to the latest available version

[2016-08-31 07:58] ankitv89 commented on #6
I still have the same issue. I update to the latest release.

[2016-08-31 08:25] dr-dimitru commented on #6
@ankitv89 full error stack please

[2016-08-31 08:27] ankitv89 commented on #6
Server Side
`I20160831-13:30:16.901(5.5)? Exception from sub images id cAvsGeeWX9cotnosT ReferenceError: Images is not defined
I20160831-13:30:16.903(5.5)?     at Subscription.<anonymous> (server/publications.js:19:16)
I20160831-13:30:16.903(5.5)?     at packages/matb33_collection-hooks/packages/matb33_collection-hooks.js:227:1
I20160831-13:30:16.905(5.5)?     at [object Object]._.extend.withValue

[2016-08-31 08:36] dr-dimitru commented on #6
Show me your code:
 - Collection definition
 - AutoForm usage
 - Template helpers if there is any

[2016-08-31 08:38] ankitv89 commented on #6
Sorry! I won't be able to do that. The client made me sign an NDA for the code. However, I will recreate a demo project and share the repo with you.  Thanks!

[2016-08-31 08:41] dr-dimitru commented on #6
__Wait__
Before creating a repo.

This issue is known, and usually caused by defining `Images` collection out of the global scope.
try to use `this.Images = new FilesCol...` first. And make sure name of collection and variable is the same everywhere (__case-sensitive!__)

[2016-09-02 10:26] epos commented on #7
Sorry I couldn't try earlier. I just tried again after updating to Meteor 1.4.1.1 and the Linux build now works fine. Thank you!

[2016-09-02 10:26] #7 closed

[2016-09-02 10:30] dr-dimitru commented on #7
@epos 👍

Please support this package by start on [GitHub](https://github.com/VeliovGroup/meteor-autoform-file) and [Atmosphere](https://atmospherejs.com/ostrio/autoform-files)

[2016-09-04 09:34] epos commented on #7
Just did, thanks!

[2016-09-05 15:52] #4 closed

[2016-10-06 09:44] AdrianAbba opened #8 "Deactivate uploadImageDemo"
Hey :)

It is possible to deactivate the uploadImageDemo methode?
after uploading a image i still wanna see the file choose button.

https://files.gitter.im/VeliovGroup/Meteor-Files/zDVD/bild.jpg
https://files.gitter.im/VeliovGroup/Meteor-Files/BHRO/cccccc.png

My Goal is, clicking on the circle picture (avatar), the file choose window open and after uploading the image it will change to the new p

[2016-10-06 09:49] dr-dimitru commented on #8
@AdrianAbba

You you can create custom template with file name and reset button. Take a [`uploadFileDemo.html `](https://github.com/VeliovGroup/meteor-autoform-file/blob/master/lib/client/uploadFileDemo.html) as example, change it to fit your needs and pass its name to `previewTemplate `

[2016-10-06 09:50] dr-dimitru commented on #8
Other wise I recommend to you not use auto firm package and stick to [Meteor-Files](https://github.com/VeliovGroup/Meteor-Files) lib.

[2016-10-06 11:04] aposidelov commented on #5
Hi, I have a similar errors as @benjick posted in last message:

`Exception in template helper: TypeError: Cannot read property 'findOne' of undefined
    at Object.uploadedFile (http://localhost:3000/packages/ostrio_autoform-files.js?hash=fd25b6ceb186949bd4d67932e48c21238e70b778:219:56)
    at http://localhost:3000/packages/blaze.js?hash=ef41aed769a8945fc99ac4954e8c9ec157a88cea:2994:16
    ...`

[2016-10-06 11:10] dr-dimitru commented on #5
@aposidelov

`Images` variable must be in global scope

[2016-10-06 11:49] aposidelov commented on #5
can you advice what is best way to put File collection in global scope in context of autoform and imports? I check a Demo example. file collection resides in lib file and have a name Collections.files . But I suppose this name is not good to use in autoform

[2016-10-06 11:54] dr-dimitru commented on #5
This should work:
[code]

[2016-10-06 12:26] aposidelov commented on #5
window.Images = Images; throw _window is not defined_ warning but it works OK by using **this** instead of **window**:
[code]
so I can use `import { Images } from '../imports/collections/images.js';` in the files where I need an access to file collection and use just `import '../imports/collections/images.js';` in autoform schema file.
Also I noticed that publish example from package page doesn't

[2016-10-06 12:29] dr-dimitru commented on #5
Yesterday other developer reported what `Images.collection.find({})` was working for him instead of `Images.find().cursor`. So it's opposite to you. Weird condition. I'll take a look on this behaviour.

[2016-10-08 22:30] larzKke commented on #5
Hello,
I had the same issue like @benjick and resolved with @aposidelov answer but now when I choose a file to upload I got a new err:
[code]
METEOR@1.4.1.1
ostrio:autoform-files@1.0.7
ostrio:cookies@2.0.5
ostrio:files@1.7.3

[2016-10-09 10:00] dr-dimitru commented on #5
@larzKke are you using TS?

[2016-10-09 12:12] larzKke commented on #5
@dr-dimitru no, I'm not using TS.

The error occurs when I only choose a file not even submit the form.

here my code:
[code]
and
[code]

[2016-10-09 12:49] aposidelov commented on #5
@larzKke
1) Images.js - remove
**export default Images;**
2) Product.js - use
**import './Images.js';**
instead of
**import { Images } from './Images.js';**

[2016-10-09 12:56] larzKke commented on #5
@aposidelov sorry, not working. I also create a new meteor app from scratch with one file without success:

[code]

[2016-10-09 13:39] dr-dimitru commented on #5
@larzKke error comes form method `_FilesCollectionStart_Images `, there is should be an error on Server's console. Could you post it too?

[2016-10-09 13:42] larzKke commented on #5
@dr-dimitru no there is no server error, only client side:

[code]

[2016-10-09 13:48] dr-dimitru commented on #5
@larzKke
 1. what version of AutoForm you're on?
 2. Is `AutoForm` at global scope?

[2016-10-09 15:30] larzKke commented on #5
@dr-dimitru
_aldeed:autoform@5.8.1
aldeed:collection2@2.3.1
aldeed:simple-schema@1.1.0_

here is a blank [repo](https://github.com/larzKke/uploadTest) with the error. `AutoForm` is not in global scope. Is this required?

[2016-10-09 16:44] dr-dimitru commented on #5
Referring to sample code at this lib - yes.
And this should be your issue

[2016-10-09 17:58] larzKke commented on #5
@dr-dimitru sorry, can u tell me how to do this?
I changed the code exactly like in your example ([repo](https://github.com/larzKke/uploadTest/blob/master/lib/main.js)) and get the same error again.

[2016-10-09 18:02] dr-dimitru commented on #5
@larzKke idk why it's not in global scope, at least it should be. It might be caused by `ecmascript` package.

Try to bind it to `this` as you do with `Images`, like: `this.AutoForm = AutoForm ;`

[2016-10-09 19:04] larzKke commented on #5
@dr-dimitru I got it!

I changed
`var Images = new FilesCollection({...`
to
`this.Images = new FilesCollection({...`

and everything is working fine! strange, but thanks for your help anyway!!! 👍

[2016-10-09 19:16] dr-dimitru commented on #5
@larzKke hooray! Glad you've solved it. Thank you for choosing this lib

[2016-10-12 00:20] i-siddiq commented on #5
having similar issues, made changes to code according to above instructions but still getting errors. my code is as follows.

[code]

[code]

on server I get these errors.

on client console I get these errors.

Cant get what is wrong, any help plz..

[2016-10-12 09:18] dr-dimitru commented on #5
@i-siddiq
Upload is aborted on `onBeforeUpload` remove it for test purposes.

[2016-10-12 17:50] i-siddiq commented on #5
@dr-dimitru
I removed the onBeforeUpload portion. The file upload works except that I dont see a assets/app/uploads/Images/ directory and any thing inside it. The collections do get updated. here it is;
[code]
Server debug output.

chrome console .

[2016-10-12 19:06] dr-dimitru commented on #5
It's inside `.meteor/` of your running app.
Read the FAQ at readme. And update to the v1.7.4

[2016-10-12 19:35] i-siddiq commented on #5
update to v1.7.4 worked for me. I will post if I get any other errors. thanks @dr-dimitru

[2016-10-12 22:16] dr-dimitru commented on #8
Hey @AdrianAbba , any news on your end?

[2016-10-14 07:56] AdrianAbba commented on #8
yeah :D

I stopped to use the autoform package and used your [https://github.com/VeliovGroup/Meteor-Files](url) files :)
{{> uploadForm}}  was enough .

My next step is to put the {{> uploadForm}} template behind my avatarImage, if the currentUser is clicking on his Picture he should be able to change it. :D

But u can Close this issue

thx =)

[2016-10-14 22:04] dr-dimitru commented on #8
Thank you for update on this one

[2016-10-14 22:04] #8 closed

[2016-10-17 09:41] aposidelov opened #9 "Update mode example"
Here is an example how to implement autoform with **update** mode & **upload field**. Critical place is that autoform should be wrapped in **{{#if Template.subscriptionsReady }}** which makes sure that template level subscription is ready. Without it the picture preview won't be shown. Also to make upper **{{#if}}** to be worked the template level subscription should be used (**this.subscribe** in

[2016-10-17 09:47] dr-dimitru commented on #9
HI @aposidelov ,

Looks good to me. What should I do with it?

[2016-10-17 10:15] aposidelov commented on #9
just mark it as an example or link to it in the package description section where insert mode is described

[2016-10-17 13:42] dr-dimitru commented on #9
@aposidelov okay, now it's clear.
Would you send a PR?

[2016-10-18 07:54] aposidelov commented on #9
https://github.com/VeliovGroup/meteor-autoform-file/pull/10

[2016-10-27 20:41] ifalldev opened #11 "Sanitized error class"
I'm using `aldeed:autoform`, `ostrio:files` and `ostrio:autoform-files`(as expected) to manage my forms.

While I worked **just with the** `ostrio:files` to upload images everything went fine, but when I put `autoform-files` on the scene I got this error after I've select the file:

[2016-10-28 01:14] dr-dimitru commented on #11
1. What versions you're on? (`meteor`, `autoform-files`)
 2. Where and when this error occurs?

[2016-10-28 15:23] ifalldev commented on #11
I fixed it!

[2016-10-28 16:33] dr-dimitru commented on #11
@ifalldev great,

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/Meteor-Files)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/files)
 - Share on [Facebook](https://www.facebook.com/sharer.php?u=https%3A%2F%2Fgithub.com%2FVeliovGroup%2FMeteor-Files) and [Twitter](https://twitter.com/share?url=https%3A%2F%2Fgithub.com%2FVeliovGroup%2FMeteor-Files)
 - [Do

[2016-10-28 16:33] #11 closed

[2016-11-03 13:06] obiwarn opened #12 "Problem with GridFS"
I use this in yogiben:admin with your sugegsted GridFS example code.

When I load an image in the edit document form it is displayed nicely.

But when I return to the same document the image is not displayed (however the `String` field is filled, so updating the image string seems to work).

[2016-11-03 18:59] dr-dimitru commented on #12
What is `String` filed?
Please provide your code.

[2016-11-07 11:10] obiwarn commented on #12
I had to remove

[code]

from the GridFS example.

Now it works fine.

@dr-dimitru Awesome packages by the way. Fantastic work! Thank you.

[2016-11-07 11:30] obiwarn commented on #12
Argh. The error still exists.

The table:

[code]

The Schema is:

[code]

Like this it works fine.

However when I remove the 'spotImage' column in the table (i.e. remove `{label: 'Img', name: 'spotImage'}` from AdminConfig), the image is not displayed anymore when I open the autoform for the schema (i.e. press edit document in the yogiben:admin table) .

[2016-11-10 12:40] afifsohaili opened #13 "Page refresh after upload"
I'm getting page refreshes after each upload. Is this an intended behavior?

[2016-11-10 15:24] dr-dimitru commented on #13
Hi @afifsohaili ,

Definitely not. What packages are you using? Could you post your code sample?

[2016-11-10 15:29] dr-dimitru commented on #12
Could you post what packages are you using? Whole `.meteor/packages` file

[2016-11-10 16:27] obiwarn commented on #12
[code]

[2016-11-10 16:38] dr-dimitru commented on #12
@obiwarn I've never faced `yogiben:admin`, but heard what currently it's incompatible with Meteor-Files. Or integration was very difficult.

Meanwhile let's reverse engineering this issue:

 1. Is this integration used to work before?
 2. Is issue appeared after GridFS integration?
 3. What happens if you use default Meteor-Files storage?
 4. Is there any errors/warnings? What debug mode says?
 5.

[2016-11-11 12:57] afifsohaili commented on #13
Here are my `.meteor/packages`:
[code]

Here's my `/imports/candidates/pages/career/edit.js`:
[code]

Here's my `/imports/resumes/resumes-collection.js`:
[code]

And here's my autoform schema:
[code]

Anything I did wrong? Anything I did not import, maybe something that's required in common but I only require in server or in client?

[2016-11-14 12:59] afifsohaili commented on #13
It seems that my call to `process.env.PWD` is the one causing the page to refresh.

[2016-11-14 12:59] #13 closed

[2016-11-15 12:49] dr-dimitru commented on #13
Hi @afifsohaili ,

Sorry for delayed responses, I'm currently travelling, and have very limited access to the WWW.
I'm glad you have solved this issue

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/meteor-autoform-file)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/autoform-files)

And Meteor-Files project by:
 - Star on [GitHub](https://github.com/V

[2016-11-29 13:49] aposidelov opened #14 "Old image has not been removed from the collection after editing file field"
Instead a new image is created after every editing of file field.

[2016-11-30 00:46] EasyFormsSam opened #15 "Uncaught TypeError: upload.on is not a function"
I am Getting this error when I try to add a file:

`Uncaught TypeError: upload.on is not a function`
at `ostrio_autoform-files.js?hash=d7ab430…:247`

[2016-11-30 00:51] dr-dimitru commented on #15
Hi @EasyFormsSam ,

 1. What version of Meteor, Meteor-Files and autoform-file are you using?
 2. Mac, Win or Linux? Browser?
 3. What is your setup? Can I see some code?

[2016-11-30 01:17] EasyFormsSam commented on #15
Thank You for the quick response, I am on the latest stable release of all 3 I believe, I installed Meteor-Files and autoform-file just earlier this week.

I am running Chrome on Windows 10, and the App is running on a digital ocean Ubuntu 14.04 server

Im not sure what code you want to see,
here is what I am currently using to try this:
[code]

and in my schema:

[code]
And in the {{autoform}}
(

[2016-11-30 01:22] dr-dimitru commented on #15
@EasyFormsSam could you please pass `debug: true` into FilesCollection Constructor and post here all logs from both *Client* and *Server*

[2016-11-30 01:41] EasyFormsSam commented on #15
I did not get any additional logs, however sorry but I left out in the original that I am also getting `insert failed: Access denied`

[2016-11-30 03:37] dr-dimitru commented on #15
Do you have stack trace for `insert failed: Access denied` ?

[2016-11-30 03:44] EasyFormsSam commented on #15
There is just this message,  ` insert failed: Access denied - meteor.js:930 `
Im not sure if that helps

[2016-11-30 03:45] EasyFormsSam commented on #15
the upload.on issue has this information

[code]

[2016-12-01 01:31] EasyFormsSam commented on #15
I have looked into mongo and 2 collections are being created, "Plans" and "plans"

[2016-12-01 02:27] EasyFormsSam commented on #15
removed the var when defining Plans fixed the issue

[2016-12-01 03:06] #15 closed

[2016-12-14 03:27] dr-dimitru commented on #14
Hello @aposidelov ,

Yes, currently it works this way.
I'll try to fix this in next release.

Btw how you're editing field? Have you clicked on remove link before upload new file?

[2016-12-14 06:45] aposidelov commented on #14
Hi @dr-dimitru,
Yes, there's only way to replace a picture is to click remove link and upload new picture. Also I has some problem related with pictures.
I have simple data model: Users can create Posts and every User has Image picture. Also I have a List page where all Posts are shown and under each Post theer's an Image of author.
![metim](https://cloud.githubusercontent.com/assets/2487197/21171

[2016-12-14 14:58] dr-dimitru commented on #14
Hi @aposidelov ,

What your collection options? Is `allowClientCode` is `true`?

[2016-12-14 15:02] aposidelov commented on #14
false

[2016-12-14 15:06] dr-dimitru commented on #14
Set it to true, - issue should be solved then.
To add protection layer, use `onBeforeRemove` or `protected` hooks.

[2016-12-14 15:21] aposidelov commented on #14
yes, it's helped with removing images, thank you!

[2016-12-14 15:29] dr-dimitru commented on #14
Glad we have solved it. Thank you for the patience.

[2016-12-14 15:29] #14 closed

[2016-12-14 15:39] aposidelov commented on #14
and how about above issue with binding posts -> users -> images. publish function that pick images by users that are authors of posts. And after image update user picture id has been updated and image is not taken from server. How do you recommend to solve this ?

[2016-12-14 15:52] dr-dimitru commented on #14
You need to update/republish `posts.all.main` as `userIds` and `imageIds` is not reactive sources.

You're better to copy fileObj into user's record.

[code]

Then in template just use:
[code]

[2016-12-16 15:38] dr-dimitru commented on #9
Thank you for contribution.
Ans sorry for delay with it.

[2016-12-16 15:38] #9 closed

[2016-12-22 12:15] rathahin opened #16 "Image cannot be load when edit the colleciton"
Story:
- I have the Advertisements collection. There is a field called "AdvertiseImage" which using autoForm file to upload an image.

Issue:
- It is working fine on insert new document.
- On edit created document, the image show fileUpload box instead of uploaded image.

Investigation:
- The id which giving to FileCollection.findOne({id}) is empty
- On this break point
ReactiveVar get empty
![ima

[2016-12-22 18:11] dr-dimitru commented on #12
@obiwarn any news from your end?

[2016-12-22 18:18] dr-dimitru commented on #16
Hello @rathahin ,

Could you replicate same behaviour by running [demo app](https://github.com/VeliovGroup/files-gridfs-autoform-example)?

[2016-12-23 09:05] rathahin commented on #16
Thank you for your reply!

The demo app is working fine. but the difference is that I use autoForm which generate by meteor-admin.

[2016-12-23 15:08] dr-dimitru commented on #16
@rathahin take a look on [this issue](https://github.com/VeliovGroup/meteor-autoform-file/issues/12) related to meteor-admin too.

For some reason most of the developers faced this issue. Could you please create minimum app/settings where I can reproduce this behaviour?

[2016-12-25 06:42] rathahin commented on #16
Hi @dr-dimitru , Thank again for your reply. I have create project repo https://github.com/rathahin/autoform-files-case . it show the issue when upload then edit the collection, the image doesn't display. Instead of display the file input to select image again.

[2016-12-26 08:08] rathahin commented on #16
Hello

In the function Template.afFileUpload.onCreated(function () { ... } the this.data.value is given as empty string.

[2016-12-26 12:06] dr-dimitru commented on #16
Hi @rathahin ,

I checked the code, can't find the reason for this behaviour.
I'll be back later, and wish be back with some results.

[2016-12-27 05:43] rathahin commented on #16
Dear @dr-dimitru , I modified the fileUpload.js:

[code]

And it seem to be work for my case, both insert and update can now display the image. but I don't really now this is proper solution. I have commit code to this repo: https://github.com/rathahin/autoform-files-case

[2016-12-29 04:22] cyclops24 opened #17 "Is it working with uniforms rather than autoform?"
Hi @dr-dimitru ,
I think autoform is not maintained and now [uniform](https://github.com/vazco/uniforms) is the best alternative. Is your package can working with uniform too?
If not do you have any plan about it?

**/CC: ** @radekmie from uniform

[2016-12-29 08:45] radekmie commented on #17
@cyclops24: I'm glad to see this issue, but you can also do it by yourself: vazco/uniforms#74.

[2016-12-30 00:53] dr-dimitru commented on #17
@cyclops24 looking forward to add this integration as example to the docs/wiki

[2016-12-30 08:53] cyclops24 commented on #17
Thanks @dr-dimitru and @radekmie ,
I'm follow this two issue for finding the right way for this integration. 😉

[2017-01-06 12:33] kenshinman opened #18 "Issues with meteor@1.3.5.1 (Version Constraint)"
Hello @dr-dimitru , Thanks for this wonderful package.
I am working on an app using meteor 1.3.5.1 and `ostrio:files` works perfectly well but when add `ostrio:autoform-files` i get this error:

    `Conflict: Constraint ostrio:files@1.7.6 is not satisfied by ostrio:files 1.6.6.
     Constraints on package "ostrio:files":
     * ostrio:files@1.7.6 <- ostrio:autoform-files 1.0.9`
What version of th

[2017-01-06 15:30] dr-dimitru commented on #18
Hello @kenshinman ,

Latest `ostrio:files` requires Meteor@1.4.*, while `ostrio:autoform-files` has dependency for latest `ostrio:files`.

To solve this without upgrading `Meteor` to `1.4.*` clone this repository to `yourapp/packages/` and change `ostrio:files` version [here](https://github.com/VeliovGroup/meteor-autoform-file/blob/master/package.js#L18) to currently installed version.

[2017-01-06 15:58] kenshinman commented on #18
@dr-dimitru Thanks a lot, I'll give it a try and get back to you.

[2017-01-06 20:04] kenshinman commented on #18
@dr-dimitru done this, but do I still leave the `ostrio:autoform-files` in the packages list?

[2017-01-06 22:36] kenshinman commented on #18
Hello @dr-dimitru, Thanks for sticking with me.
I have done as you instructed now, i'm getting this error in the console
    `errorClass
errorType
:
"Match.Error"
message
:
"Match error: Expected plain object"
path
:
""
sanitizedError
:
errorClass
stack
:
"Error↵    at exports.check (http://localhost:3000/packages/check.js?hash=bf95dee84c2be9008274d2385c637659760b9057:67:15)↵    at new UploadInsta

[2017-01-06 23:51] dr-dimitru commented on #18
Collection is not in global spacename on Client.

How do you define FilesCollection?

[2017-01-06 23:58] kenshinman commented on #18
@dr-dimitru
in my oroject's directory `lib/collections/postImages.js`

Here's the code:
    `
    var thePostImages = new FilesCollection({
    debug: true,
  storagePath: function (){
    return '/.uploads';
  } ,
  collectionName: 'thePostImages',
  allowClientCode: true, // Required to let you remove uploaded file
  onBeforeUpload: function (file) {
    // Allow upload files under 10MB, and onl

[2017-01-07 00:01] dr-dimitru commented on #18
1. omit `var` before `thePostImages1`
 2. If #1 not helped, use - `this.thePostImages1 = new FilesCollection({/*...*/});`

[2017-01-07 00:12] kenshinman commented on #18
Same thing after trying both
[code]

[2017-01-07 00:19] dr-dimitru commented on #18
Looks much better to me.
Now something is wrong with what you're passing to `UploadInstance` (when you call `.insert()`)

[2017-01-07 00:23] kenshinman commented on #18
I'm using autoform so, I'm not in charge of the `insert()` event. All I am doing is just upload the file

[2017-01-07 00:30] dr-dimitru commented on #18
Ah... sure... I guess this is incompatibility issue

Now you need to try every version below `v1.0.2`
Click on "Source Code" to download archive [here](https://github.com/VeliovGroup/meteor-autoform-file/releases), then place it to `pros/packages` as you did before

[2017-01-07 00:37] kenshinman commented on #18
Deleting the previous one I guess...

[2017-01-07 00:49] kenshinman commented on #18
:( not working :(. I downloaded the zip file and extracted it into `myapp/packages` but I still get the same error.

I also duplicated the app and updated it to METEOR@1.4.2.3 and when i tried uploading, I got the same error in the console

[2017-01-07 17:42] dr-dimitru commented on #18
1. Have you seen [this example](https://github.com/VeliovGroup/files-gridfs-autoform-example)?
 2. Is it same error on latest meteor, and latest package version?
 3. Could you copy-paste thrown error one more time? (*To make sure it's same*)

[2017-01-07 20:07] kenshinman commented on #18
Hi @dr-dimitru , i'm back. 😄 . Thanks for all the help so far.

I just want to mention that I already `ostrio:files` and it's working perfectly. I tried using the same collection in the `collection: ` field but I still get the same error. Here is the error again.

[code]

[2017-01-19 16:51] dr-dimitru commented on #18
Hi @kenshinman ,

Sorry for delay. Working on next release. Can't reproduce this issue on my end.
What OS and Browser you're using?

[2017-01-19 16:54] dr-dimitru commented on #12
Closed due to silence at issue owner end.

[2017-01-19 16:54] #12 closed

[2017-01-21 11:37] #16 closed

[2017-01-21 11:38] dr-dimitru commented on #16
Hello @rathahin ,

Thank you for contribution.
Your suggestions is published in `v1.0.10`

[2017-02-05 11:49] Mklueh opened #19 "Can´t find collection if not directly in global scope"
I´ve encapsulated my collections in a Collections = {} object, but your lib is looking for it directly in the global scope.

`var upload = global[template.collectionName()].insert({
......`

I actually don´t know if it´s possible in general to find a solution for it, but I thought I´ve mention it if others having the same problem.

As a workaround I´ve solved it by setting the collection to the gl

[2017-02-09 02:31] dr-dimitru commented on #19
Hello @Mklueh ,
Thank you for this tip.

[2017-02-09 02:33] dr-dimitru commented on #18
Hi @kenshinman ,

Have you tried latest release?
Is issue still persists on your end?

[2017-02-11 13:33] rikyperdana opened #20 "File remove only works on browser console"
Clicking 'Remove' link on form only remove the record from collection, but not the file
But when I execute Images.remove({_id: 'RYQR6Zn3Mypgkpnkd'}) the file on upload folder removed
What did I do wrong?

[2017-02-11 13:36] rikyperdana commented on #20
I'm sorry, it solved by setting allowClientCode: true

[2017-02-11 13:37] #20 closed

[2017-02-11 13:44] dr-dimitru commented on #20
I'm glad you have solved it

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/meteor-autoform-file)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/autoform-files)

[2017-02-27 15:21] s1rd4v3 opened #22 "autoform dependency to 6.0.0"
could you please update and test your package to work with the newely released autoform 6.0.0 package?

thanks a lot for you work!

[2017-02-28 10:45] dr-dimitru commented on #22
Hi @s1rd4v3 ,

It is coming - https://github.com/VeliovGroup/meteor-autoform-file/pull/21

[2017-02-28 11:13] s1rd4v3 commented on #22
@dr-dimitru cool. Thanks for the update!

[2017-03-06 02:27] i-siddiq opened #23 "Project Build gives SyntaxError: Unexpected token: punc ())"
Hi,
I am using **Meteor@1.4.3.1, ostrio:files@1.7.12, ostrio:autoform-files@1.0.12, aldeed:autoform@5.8.1, aldeed:collection2@2.10.0**. Browser **chrome** and **macOS Sierra v 10.12.1.**

My project is **working fine** but when I try to build it the following error occurs.

While minifying app code:
packages/minifyStdJS_plugin.js:113:28: UglifyJS minification error:

at packages/minifyStdJS_plugin

[2017-03-06 10:46] jlourenco commented on #23
+1

[2017-03-06 12:08] dr-dimitru commented on #23
Hello @i-siddiq n @jlourenco ,

This is known Meteor issue, please see - https://github.com/meteor/meteor/issues/8020

In short - it can be solved by using `abernix:standard-minifier-js` package
[code]

Hope this will help, let me know

[2017-03-06 12:24] jlourenco commented on #23
Hi @dr-dimitru
Thanks, that solved it!

[2017-03-06 23:19] i-siddiq commented on #23
Hi @dr-dimitru , I did as you recommended but this time I get a similar error, could you please check it. Thanks. I have **abernix:minifier-js @1.3.17** and **abernix:standard-minifier-js@1.3.3** installed.
[code]

[2017-03-07 14:17] dr-dimitru commented on #23
Hello @i-siddiq ,

Looks like issue is in `iron_core` package, and it's old and [stale package](https://github.com/iron-meteor/iron-core/blob/master/package.js#L9) - I'll assume it's not compatible with latest meteor.

First what you can do is make sure `ecmascript` package is installed into your app and it's above all non-meteor packages in `.meteor/packages` file

[2017-03-07 21:04] i-siddiq commented on #23
@dr-dimitru I tried every thing and nothing worked. I had to go change the source code of `iron_core` package. The problem is that there are reserved key words in ES6 where some are reserved for future purposes, these can be used in some situations so runtime does not give error. I think UglifyJS is strict and does not allow future reserved keywords too hence the discrepancy.

[2017-03-07 21:04] #23 closed

[2017-03-07 23:54] dr-dimitru commented on #23
@i-siddiq agree, easiest way is to fork IR, and probably send a PR

[2017-03-10 11:54] thebarty commented on #19
I LOVE IT!! Thanks for the tip!

[2017-03-30 14:35] abeaudoin2013 opened #24 "Syntax Error when trying to deploy with Meteor Up"
Hey there, not sure if this is related #21, but I am having issues deploying to digital ocean using Meteor Up. (I'm using meteor version 1.4.3.2)

[code]

I believe my mup.js file is set up correctly:

[code]

And my collection setup:

[code]

Any ideas as to what may be going wrong?

[2017-03-30 14:49] jlourenco commented on #24
Check [this](https://github.com/VeliovGroup/meteor-autoform-file/issues/23)

[2017-03-30 15:41] dr-dimitru commented on #24
Hello @abeaudoin2013 ,

Is [this comment](https://github.com/VeliovGroup/meteor-autoform-file/issues/23#issuecomment-284379349) helped you, I saw your messages at meteor rep thread, - I assume switching to `abernix:standard-minifier-js` package not helped at all. Right?

Is error changed?

[2017-03-30 15:43] dr-dimitru commented on #24
Hi @obiwarn ,

I saw your related messages at meteor rep thread, have you solved this?

[2017-03-30 15:55] abeaudoin2013 commented on #24
That commented helped, yes. Thank you!

I'm getting different errors now though:

[code]

[2017-03-30 15:56] abeaudoin2013 commented on #24
but it's unrelated to this thread, I suppose.

[2017-03-30 16:02] dr-dimitru commented on #24
@abeaudoin2013

NPM is outdated, run:
[code]

[2017-03-30 16:13] abeaudoin2013 commented on #24
That didn't seem to work, unfortunately.

[2017-03-30 16:21] dr-dimitru commented on #24
What if you run `meteor reset` and make sure `.meteor/local` is gone?
__Warning: this will drop project's bundled mongo db__
Then `meteor npm install`
and `meteor run`

[2017-03-30 16:30] abeaudoin2013 commented on #24
Can confirm that it works locally. Testing deploy again...

[2017-03-30 16:40] abeaudoin2013 commented on #24
No npm-rebuild error, but looks like bcrypt or node-pre-gyp error...

[code]

[2017-03-30 16:56] dr-dimitru commented on #24
Could you try to build app:
[code]

Let's see if it will run into the same error

[2017-03-30 17:12] abeaudoin2013 commented on #24
Hmm... still looks like a bcrypt error after trying to deploy again...

[code]

[2017-03-30 17:14] dr-dimitru commented on #24
Could you try to build app without involving MUP? See [this message](https://github.com/VeliovGroup/meteor-autoform-file/issues/24#issuecomment-290473755)

[2017-03-30 17:43] abeaudoin2013 commented on #24
Yeah, I ran the build command locally, and then tried to deploy. Did you mean something else?

[2017-03-30 17:47] dr-dimitru commented on #24
I mean if it builds locally, then this issue relative only to MUP.
As when you do deploy via MUP it's builds app and doing its own "magic".

[2017-03-30 18:30] obiwarn commented on #24
A downgrade to the last (pre ES6) version of the ostrio package helped in my case.

change packages file to:

`ostrio:autoform-files@=1.0.11`

[2017-03-31 12:58] abeaudoin2013 commented on #24
Thanks, I'll give that a try!

[2017-04-19 19:24] Saydn opened #25 "Exception in template helper"
Hi,

I hope this is the right place for this and I'm sure the problem is with me and a mistake I've made or something I've misunderstood but I've been trying to figure it out for ages and I don't know what to try honestly.

After I upload a photo and submit the form I get the error message "Photo is required" even though there is a photo. I tried setting the field to `optional: true` and the form

[2017-04-19 19:41] dr-dimitru commented on #25
Hello @Saydn ,

Could you post some of your code. please (related to file-upload of course)?

[2017-04-19 19:54] Saydn commented on #25
@dr-dimitru

Here is the code I have pertaining to the image upload :)

Image Schema:
`var Images = new FilesCollection({
	collectionName: 'Images',
	allowClientCode: true, // Required to let you remove uploaded file
	onBeforeUpload: function (file) {
		// Allow upload files under 10MB, and only in png/jpg/jpeg formats
		if (file.size <= 10485760 && /png|jpg|jpeg/i.test(file.ext)) {
			console.log

[2017-04-19 21:40] dr-dimitru commented on #25
In the first example
[code]
Should be exposed to global namespace, to do so omit `var` keyword or do:
[code]

[2017-04-19 21:47] Saydn commented on #25
@dr-dimitru Perfect! The error isn't appearing any more. Thanks so much.

While I have you here, how would I reference the image now to use it or where would I find it to check it has uploaded okay?

[2017-04-19 21:53] dr-dimitru commented on #25
Great 👍

 - By default files goes to: `yourProdAppDir/.meteor/local/build/programs/server/assets/app/uploads`, for more info read [FAQ](https://github.com/VeliovGroup/Meteor-Files#faq)
 - Alter default behavior with `storagePath` option

To check files, go to `storagePath` and check them :)

To display files see [Template-Helper docs](https://github.com/VeliovGroup/Meteor-Files/wiki/Template-Helpe

[2017-04-20 09:49] Saydn commented on #25
@dr-dimitru Thanks so much for your help.

I've follow the instructions on the Template-Helper docs but it doesn't seem to be retrieving the files at all. I've checked and the images are definitely uploading correctly.

This is my Schema, publish and subscription. I lift the subscription as global to meteor as I seem to remember reading that it needs to be that way. I tried both 'files.images.all'

[2017-04-23 14:10] dr-dimitru commented on #25
Hello @Saydn ,

Enable "debug" mode to see data flow, via `Images = new FilesCollection({debug: true /*...*/});`

[2017-04-24 19:52] derouck opened #26 "Syntax error in older browser + Phantom.js + Prerender.io"
The latest version causes a syntax error bug. It also prerendering on prerender.io and probably with spiderable as well.

I had it on the 1.3.5.1 and now on 1.4.4.1 the issue is still present. I was on abernix:standard-minifier-js but moved to latest standard-minifier-js@2.0.0

For me the problem is solved by going back one release 1.0.11. I could reproduce the bug easily in version 19 of firefox.

[2017-04-29 12:45] costezki commented on #22
Any news on this issue?

[2017-05-01 15:57] dr-dimitru commented on #22
Hello @costezki ,

If you're familiar with AF internal. I'll be glad if you point us to the fix of this issue (I've requested changes on #21 , but without response from @Buom01):

Any ideas will be helpful.

[2017-07-23 06:55] dr-dimitru commented on #26
Hello @derouck ,

I know it's kind of late, but this should be fixed in [v2.0.1](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.0.1)

Feel free to reopen it in case if the issue still persists on your end.

[2017-07-23 06:55] #26 closed

[2017-07-23 06:56] dr-dimitru commented on #25
Closed due to silence at issue owner end.
Feel free to reopen it in case if the issue still persists on your end.

[2017-07-23 06:56] #25 closed

[2017-07-23 06:56] dr-dimitru commented on #24
Feel free to reopen it in case if the issue still persists on your end.

[2017-07-23 06:56] #24 closed

[2017-07-23 06:56] dr-dimitru commented on #22
Done in [v2.0.1](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.0.1)
Feel free to reopen it in case if the issue still persists on your end.

[2017-07-23 06:56] #22 closed

[2017-07-23 06:57] dr-dimitru commented on #18
Closed due to silence at issue owner end.
Feel free to reopen it in case if the issue still persists on your end.

[2017-07-23 06:57] #18 closed

[2017-07-23 11:06] marcoschwartz opened #27 "Uncaught TypeError: zeroBuffer.fill is not a function"
Hello,

Thanks for the recent update of this package! However, when I try to use it in my app, I get the following error on the client and see the iron-router error page:

The only way to get rid of this is to remove the package. I followed the example from the Readme, however I am using the S3 integration so I have my Files collection in the import folder and I import it using:

`import Files fro

[2017-07-23 15:30] dr-dimitru commented on #27
Hello @marcoschwartz ,

It's caused by:
 - Meteor@1.5.* removed `Buffer` polyfill
 - SimpleSchema (wich is dependency of Autoform) expects to have `Buffer` in global scope

See solution in Benjamn's answer [here](https://github.com/meteor/meteor/issues/8645#issuecomment-298349964)

Let me know if it helps

[2017-07-23 16:56] marcoschwartz commented on #27
Hello,

Unfortunately I still have the issue while doing this, I actually already had:

`global.Buffer = global.Buffer || require("buffer").Buffer;`

Inside lib/init.js on the client. Do you have other ideas to fix the issue? Thanks!

[2017-07-23 16:58] marcoschwartz commented on #27
Maybe the whole output would help:

    at helpers.js (printer.js:170)
    at fileEvaluate (modules-runtime.js?hash=8587d18…:343)
    at require (modules-runtime.js?hash=8587d18…:238)
    at md5.js (printer.js:170)
    at fileEvaluate (modules-runtime.js?hash=8587d18…:343)
    at require (modules-runtime.js?hash=8587d18…:238)
    at browser.js (printer.js:170)
    at fileEvaluate (modules-runtime.

[2017-07-23 17:42] dr-dimitru commented on #27
@marcoschwartz ,

 1. Is it Server or Client?
 2. How SimpleSchema is installed at your end? (NOTE: only [NPM version](https://github.com/aldeed/node-simple-schema) uis guaranteed to work)
 3. What Autoform version is installed in your app?

[2017-07-23 17:51] marcoschwartz commented on #27
1. The error is on the client side
2. SimpleSchema is installed via NPM, version 0.3.1
3. Autoform is 6.2.0

[2017-07-23 18:18] dr-dimitru commented on #27
1. Does the stacktrace points to some exact file or library? (*Can't figure out where it may came from*)
 2. Could we have minimal reproduction app?

[2017-07-23 18:53] marcoschwartz commented on #27
1. Apparently it's coming from printer.js, at the function:

`PrintVisitor.prototype.HashPair = function(pair) {
  return pair.key + '=' + this.accept(pair.value);
};
/* eslint-enable new-cap */
`

However I don't know how to see what is calling this file

2. Actually I tried the module in another application, and it works fine! So probably it's a conflict with another module. How could I see whic

[2017-07-23 19:03] dr-dimitru commented on #27
Phew.... That's the good news.

Let's start with stacktrace (the error) screenshot. As when you copy-paste it looses some info

[2017-07-23 19:08] marcoschwartz commented on #27
Sure, here it is:

<img width="1290" alt="screen shot 2017-07-23 at 21 06 00" src="https://user-images.githubusercontent.com/1475795/28502087-0355e94c-6feb-11e7-9dba-504c2030d68a.png">

The thing is that in the other application it also shows the error, but it doesn't crash iron-router like in my app, I have this error for all routes:

<img width="917" alt="screen shot 2017-07-23 at 21 05 48" src=

[2017-07-23 19:13] dr-dimitru commented on #27
1. Iron Router complaining as it was loaded but routes wan't defined due to exception (so, script was interrupted), the difference in two apps behavior may be caused by the order of the packages in `.meteor/packages`
 2. Well... error doesn't says much. Click on the `printer.js:170` and try to figure out what is the package it's coming from. You should be able browse packages in a sources tree (de

[2017-07-23 19:16] marcoschwartz commented on #27
That's what I see when I click on it, is there any information there?

<img width="1186" alt="screen shot 2017-07-23 at 21 15 56" src="https://user-images.githubusercontent.com/1475795/28502144-2f0ff98c-6fec-11e7-8ed4-8b4acdca4045.png">

[2017-07-23 20:03] dr-dimitru commented on #27
Handlebars?

[2017-07-23 20:07] dr-dimitru commented on #27
I'll start commenting packages in `.meteor/packages` to find out which causes an issue. And make sure all packages is up to date

[2017-07-24 05:05] marcoschwartz commented on #27
Hello,

OK, after spending most of the night trying to isolate the issue, I found that it comes from the S3 integration somehow. Whenever I put this on the client:

`import Images from '/imports/api/files';`

I get the error. I am using the exact copy & paste from the example. Without the autoform package it works fine. Do you know what could cause this?

[2017-07-24 05:27] marcoschwartz commented on #27
Actually now can't even get it working without the S3 integration ... I got:

`Exception from sub files.images.all id emE46pTDeCZAQ2cfk ReferenceError: Images is not defined`

I placed the right subscribe on the client, the publication on the server and the shared code in lib, just as shown in the example ... what I am doing wrong?

[2017-07-24 05:35] dr-dimitru commented on #27
Have you imported or initialized `Images` collection in the file where publication is defined??

[2017-07-24 05:38] marcoschwartz commented on #27
Ok, I tried to carefully replicate your simples-upload example on this repository:

https://github.com/VeliovGroup/Meteor-Files-Demos

Now the server-side error is gone, but on the client in autoform I still have the error:

    at Object.uploadedFile (http://localhost:3000/packages/ostrio_autoform-files.js?hash=1dd1917cfe2ae4d6e421f35b0b11ba653ede9004:254:56)
    at http://localhost:3000/packages

[2017-07-24 05:42] dr-dimitru commented on #27
Yes, `Images` should be in global scope.
When you define collection:
[code]

[2017-07-24 06:56] marcoschwartz commented on #27
That worked, thanks! However, even with this still no luck with the S3 integration, it still returns the same error.

[2017-07-24 07:00] marcoschwartz commented on #27
I think I made progress, it's coming from this line in the S3 example:

`import S3 from 'aw-sdk/clients/s3';`

Whenever I add this to my app it make the error I describe above.

[2017-07-24 07:00] dr-dimitru commented on #27
Make sure `s3` imported only on the Server

[2017-07-24 07:05] marcoschwartz commented on #27
So I should also put all the S3 example in Meteor.isServer inside your simplest-upload example? I am sorry about all the questions but I am really confused, I think an official S3 integration example would be great because now I really don't see where to put the code and adapt your example so everything is at the right place.

[2017-07-24 07:11] dr-dimitru commented on #27
Yes, `Meteor.isServer` will work with `require()`.
If you want to use exact code splitting, place server code under `/imports/server/` directory.
Then import needed files.

[2017-07-24 07:18] marcoschwartz commented on #27
Ok ... what I did now is to put the exact S3 example in /imports/server, and my image.collection.js (in lib like in your example) is this:

`import Images from '/imports/server/files';

global.Images = Images;

if (Meteor.isServer) {

    Meteor.publish('files.images.all', function() {
        return Images.find().cursor;
    });

} else {
    Meteor.subscribe('files.images.all');
}

export defaul

[2017-07-24 07:26] dr-dimitru commented on #27
This should probably throw same error on Server too, as `import` needs to be pointed to a file, like `/imports/server/files.js`

And do not import it on the Client, as you can not import files under `/server/` directory on the Client, for conditional imports use `require()`

[2017-07-24 07:26] dr-dimitru commented on #27
I'm off for today, I'll be back in 10 hours

[2017-07-24 08:19] jankapunkt commented on #19
Just as a side question - Why don't you use dburles:mongo-collection-instances to get the collection? Does it not support those FileSystem collection instances? Would it make sense to have them included in dburles:mongo-collection-instances?

[2017-07-24 09:59] jankapunkt commented on #19
Added a backward compatible PR which makes use of dburles:mongo-collection-instances : #28

[2017-07-30 03:18] dr-dimitru commented on #27
@marcoschwartz have you solved it?

[2017-07-30 04:16] dr-dimitru commented on #19
Can be fixed by using `dburles:mongo-collection-instances`, since [`v2.0.2`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.0.2)

[2017-07-30 09:42] marcoschwartz commented on #27
Yeah that works now, thanks for the help! However I somehow needed to put all the code for the S3 integrations into a single file, so it's a bit more messy now but it works :) Closing this

[2017-07-30 09:42] #27 closed

[2017-08-07 23:11] dr-dimitru commented on #19
Feel free to reopen it in case if the issue still persists on your end.

[2017-08-07 23:11] #19 closed

[2017-08-08 16:53] Roshdy commented on #27
@marcoschwartz  Can you please post a sample code and file structure how you managed to make it work?

[2017-08-13 09:43] marcoschwartz commented on #27
Sure thing, I am attaching the file that I placed in the /lib folder. Then I just import this file using:

`import Images from '/lib/images.collection.js';`

[images.collection.js.zip](https://github.com/VeliovGroup/meteor-autoform-file/files/1220384/images.collection.js.zip)

[2017-08-18 11:27] Aparus opened #29 "After saving file Remove button doesn't work more"
![image](https://user-images.githubusercontent.com/1222611/29456936-895796f0-8420-11e7-922b-1bb9c61c0f02.png)
Before first save remove button works, but after save it doesn't.
At first I was using package without Amazon s3 integration, now with it. Both variant the same.

[2017-08-18 16:27] dr-dimitru commented on #29
Hello @Aparus ,

 1. Do you have any Client or Server errors/logs?
 2. Could you please post how you initiate *FilesCollection*?
 3. Enable "debug" mode in [*Constructor*](https://github.com/VeliovGroup/Meteor-Files/wiki/Constructor) and post full logs from Server and Client

[2017-08-18 16:48] felixhamel commented on #29
I have the exact same problem. Here's the debug logs

[code]

It started this morning or yesterday. I don't remember to have changed anything since.

[2017-08-18 16:56] dr-dimitru commented on #29
Hello @felixhamel ,

Well this warning is expressive:
[code]

To solve this set `config.allowClientCode` to `true` in a [*FilesCollection* Constructor](https://github.com/VeliovGroup/Meteor-Files/wiki/Constructor).

For security reasons I highly recommend to define rules in a `onBeforeRemove`, see [`.remove()` docs](https://github.com/VeliovGroup/Meteor-Files/wiki/remove)

[2017-08-18 16:58] felixhamel commented on #29
Hi @dr-dimitru,

I found the solution at the same you replied to me. Yes I'll make sure that just the right people will be able to remove files.

Thanks!

[2017-08-19 00:56] Aparus commented on #29
In console there is no errors, both, on server and client. I use ostrio:autoform-files@2.0.2

[2017-08-19 01:02] Aparus commented on #29
@dr-dimitru thanks, I've solved it.. now another problem. after a while files disapears from localhost and on heroku server. I did I hope everything in instruction about Amazon S3 integration, but still the same problem.. But I will ask about it in another place.

[2017-08-19 02:35] dr-dimitru commented on #29
@Aparus okay. Feel free to ask at the [main rep](https://github.com/VeliovGroup/Meteor-Files/issues)

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/Meteor-Files)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/files)
 - Check [other packages](https://github.com/search?o=desc&q=topic%3Ameteor-package+org%3AVeliovGroup&s=stars&type=Repositories) we have

[2017-08-19 02:35] #29 closed

[2017-08-19 02:57] Aparus commented on #27
I have exactly the same issue. And nothing from  here did help me (

[2017-08-19 14:25] Aparus commented on #27
@marcoschwartz thank you so much! I was 2 days working with it , before met your answer ))
do you know , that all code in /lib folder works without "import" ?

[2017-08-19 16:49] marcoschwartz opened #30 "Setting default upload protocol?"
Hello,

We noticed some issues when uploading big files with this package, and I know we fixed this in the past (before using autoform) by switching from DDP for upload to HTTP.

So I wondered what is the default protocol used by this package? Is it possible to change it somewhere? Thanks!

[2017-08-19 22:33] dr-dimitru commented on #30
Hello @marcoschwartz ,

Default transport is `ddp`, as stated here: https://github.com/VeliovGroup/Meteor-Files/blob/master/docs/insert.md

No, at least not now.

Should I consider this as feature request?

[2017-08-20 03:05] Aparus opened #31 "rewrite fileUpload template"
what should I do with template, for add to it some elemets (like Remove button available only for admin etc)? when I just copy it and rename it fires errors. What should I pass to it and how...
[fileUpload.html](https://github.com/VeliovGroup/meteor-autoform-file/blob/master/lib/client/fileUpload.html)

[2017-08-20 03:54] dr-dimitru commented on #31
As stated in the [docs](https://github.com/VeliovGroup/meteor-autoform-file#custom-file-preview), you have to set name of the custom template to `previewTemplate` of defined `afFieldInput` rule:
[code]

You should be good with next markup:
[code]

What errors exactly?

[2017-08-20 05:05] Aparus commented on #31
For just a test I've copied whole fileUpload.html to my file "ArticleUpdate.html" (which contains my autoForm), and renamed it to myFileUpload.
[code]
Then this new template name I've added to schema:
[code]
After that when I open page with ArticleUpdate , there are blank page, and errors:
![screenshot from 2017-08-20 07-59-25](https://user-images.githubusercontent.com/1222611/29492229-a302d1e2-85

[2017-08-20 06:19] marcoschwartz commented on #30
Thanks for the explanation! Indeed, it would be great to have this option :)

[2017-08-20 12:04] dr-dimitru commented on #31
In my previous answer I gave you a template you need to implement your own file preview. No need to copy/paste whole `afFileUpload` - it wouldn't work.

Once again - template:
[code]

[2017-08-21 14:57] Aparus commented on #31
@dr-dimitru thanks, it solved my issue.
And one last question, how to allow remove images only to their uploaders?
I've looked at Image object , there are not fields about creator of file

[2017-08-21 15:21] dr-dimitru commented on #31
If Image was uploaded on behalf of logged in user, `userId` should be filled.
Anyways I recommend to place all custom fields, like `ownerId` to `meta` Object.

See [`onBeforeRemove` hook](https://github.com/VeliovGroup/Meteor-Files/wiki/Constructor#use-onbeforeremove-to-avoid-unauthorized-remove) for more info.
Speaking of `meta` Object, currently it's not possible to change it in `ostrio:autoform

[2017-08-21 16:22] Aparus commented on #31
yes, there is userId.  I am Inattentive today (
thank you for support! and sorry for disturbing! :)
good plugin. helped me so mach.

[2017-08-21 16:22] #31 closed

[2017-08-21 18:16] dr-dimitru commented on #31
@Aparus glad to help :)

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/Meteor-Files)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/files)
 - Check [other packages](https://github.com/search?o=desc&q=topic%3Ameteor-package+org%3AVeliovGroup&s=stars&type=Repositories) we have made

[2017-09-06 07:13] jankapunkt opened #32 "Exception in template helper: idStringify after update to newest core package versions"
I updated my meteor packages as shown below:

[code]

After restarting my application, I get the following error on the upload template:

[code]

Which traces to the following code in the mondo-ids core package:

[code]

The error is thrown on line 72, ("Meteor does not currently support objects other than ObjectID as ids").

**Reproduction of the error**

I created for reproduction a new clean pr

[2017-09-06 08:32] jankapunkt commented on #32
Created a PR with a workaround: #33

[2017-09-06 11:44] jankapunkt commented on #32
This issue has been confirmed as a bug in minimongo: https://github.com/meteor/meteor/issues/9060#issuecomment-327457541

[2017-09-10 01:30] newb007 opened #34 "No File upload button"
Please forgive my newness to meteor, but I tried the example code and ran into an issue.  The website starts up just fine and I see the title (with corresponding text box) and the Submit button.  I also see the Picture text, but I cannot get the upload button (that goes along with it) to appear.  I am using the very latest meteor 1.5.2 (with all of the required packages).  I also installed meteort

[2017-09-10 02:00] newb007 commented on #34
Also, I am using the quickform (like the example shows) if that helps. Thanks again for any assistance.

[2017-09-10 03:14] dr-dimitru commented on #32
Hello @jankapunkt ,

Thank you a lot for this issue and PR with the fix.
Should be solved in [`v2.0.3`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.0.3)

Feel free to reopen it in case if the issue still persists on your end.

[2017-09-10 03:14] #32 closed

[2017-09-10 03:16] dr-dimitru commented on #34
Hello @newb007 ,

Please update to the latest package release (*which is just released*), as you may ran into #32

Let me know if update is solved your issue

[2017-09-10 03:37] newb007 commented on #34
Hi dr.dimitru,

Thank you for your quick response and build update.  I much appreciate
that.  I ran the update.  I still don't have an "upload" button on my
screen that I can use to select a file, but the update did get rid of the
errors mentioned in #32 (and I have no errors now).  Again, there is a
"Title" field that I can type into and a "Submit" button (so it looks like
the quickform is loadin

[2017-09-10 03:45] dr-dimitru commented on #34
@newb007 do you have at least something? Could you make a screenshot? Note: there is shouldn't be an "upload" button, there is should be only `<input type="file">` which triggers upload right after file is selected

[2017-09-10 04:19] newb007 commented on #34
@dr.dimitru

I have attached a screenshot of the website.  I have also attached my
images.collection.js located in app/lib/ and my main.html located in
app/client. These are the only two files of code for now ( I made a fresh
app and discarded the original main.html and main.js. -- all of the
javascript is in the images.collection.js and will be separated out
later).  I also did meteor add:

ostri

[2017-09-10 04:23] newb007 commented on #34
I meant to say "so that they wouldn't cause a problem in the attachment"

Thank you again

On Sat, Sep 9, 2017 at 10:19 PM, Jessey Steele <jcsteele21@yahoo.com> wrote:

[2017-09-10 04:25] dr-dimitru commented on #34
@newb007 I'm afraid GitHub does not support email attachments. Please post images directly via github.com

[2017-09-10 04:28] newb007 commented on #34
[images.collection.js.txt](https://github.com/VeliovGroup/meteor-autoform-file/files/1290261/images.collection.js.txt)
[main.html.txt](https://github.com/VeliovGroup/meteor-autoform-file/files/1290260/main.html.txt)

![simpleuploadform](https://user-images.githubusercontent.com/31810713/30246119-f36d6b20-95ad-11e7-9eca-b0d98daf2d71.png)

[2017-09-10 04:32] dr-dimitru commented on #34
Remove those two lines:
[code]

[2017-09-10 04:36] newb007 commented on #34
Awesome! It works now.  Thank you so much! :-)

On Sat, Sep 9, 2017 at 10:32 PM, dr.dimitru <notifications@github.com>
wrote:

[2017-09-10 04:38] dr-dimitru commented on #34
I'm glad this one is solved :)

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/Meteor-Files)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/files)
 - Check [other packages](https://github.com/search?o=desc&q=topic%3Ameteor-package+org%3AVeliovGroup&s=stars&type=Repositories) we have made
 - Share on [Facebook](https://www.facebook.com/sharer.php?u=http

[2017-09-10 04:38] #34 closed

[2017-09-12 14:45] jankapunkt opened #35 "Does it make sense to add bootstrap classes to the default template?"
I just realized, that autoform uses bootstrap, so this package could be extended by bootstrap class entries on the html level without hard-wiring bootstrap. I could provide an example PR if this can be considered an improvement.

[2017-09-13 08:26] dr-dimitru commented on #35
Hello @jankapunkt ,

Sure, example for `uploadTemplate` which is used for `input[type="file"]`, and default is:
[code]

`previewTemplate` is shown after file is uploaded, default:
[code]

[2017-09-19 10:51] jankapunkt commented on #35
implemented in PR #36

[2017-10-19 21:32] dr-dimitru commented on #30
Hello @marcoschwartz ,

Thank you a lot for this contribution.
Please see [`v2.0.4`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.0.4), let me know how it work on your end

[2017-10-20 05:14] marcoschwartz commented on #30
Hello, you're welcome, can't wait to try it out! So what should I do exactly so my app uses HTTP for all file uploads?

[2017-10-20 05:21] dr-dimitru commented on #30
@marcoschwartz two options:
 - [Define in schema](https://github.com/VeliovGroup/files-gridfs-autoform-example/blob/master/lib/persons.js#L36)
 - [Define in `afQuickField` as attribute](https://github.com/VeliovGroup/files-gridfs-autoform-example/blob/master/client/newPerson.html#L4)

Let me know how it work on your end

[2017-10-20 05:32] marcoschwartz commented on #30
Great, thanks! I just had a quick test on one of my schema, it works well!

[2017-10-20 05:37] dr-dimitru commented on #30
I'm glad it's working for you.
Closing.

Please, support this project by:
 - Star on [GitHub](https://github.com/VeliovGroup/Meteor-Files)
 - Star on [Atmosphere](https://atmospherejs.com/ostrio/files)
 - Check [other packages](https://github.com/search?o=desc&q=topic%3Ameteor-package+org%3AVeliovGroup&s=stars&type=Repositories) we have made

[2017-10-20 05:37] #30 closed

[2017-10-30 21:07] marcoschwartz opened #37 "Issue when inserting a picture with autoform after modifying another parameter"
Hello,

I am having an issue that I actually had for a while now with meteor-autoform-file, so it's not related to the most recent version or to Meteor 1.6 (had the same with 1.5).

Basically when I use autoform to edit a document with a file in it, if I first edit the file and then some other parameters (like String, Number, etc), it's all file. However, whenever I first edit another parameter an

[2017-10-31 09:00] dr-dimitru commented on #37
Hello @marcoschwartz ,

Are you using `afQuickField` or `quickForm`?

[2017-10-31 10:37] marcoschwartz commented on #37
Hello,

It actually occurs in both cases

[2017-10-31 12:55] dr-dimitru commented on #37
@marcoschwartz do you have a link to autoForm developer's API? It's always a pain to debug and work with autoForm as plugin developer.

[2017-11-01 20:32] marcoschwartz commented on #37
Hello, unfortunately I don't, never developed with it. Maybe I should open a ticket there as well?

[2017-11-05 22:30] dr-dimitru commented on #37
@marcoschwartz not sure about opening a ticket at AF rep.
But if someone experienced with AF could help us to change current flow to uploading and updating files after form us submitted instead of current upload upon file selection - this will be great.

[2017-11-21 17:20] Farkal opened #38 "only upload on submit"
Is it possible to only upload the file when the user submit the autoform ? With the actual behavior an user can flood my server by sending a lot of fake files.
I have also another question about using `afFieldInput` to get the button to select the file. When I use it, I can choose my file but nothing happen when I submit my form (no error, just all the field are cleaned).

[2017-11-21 18:13] dr-dimitru commented on #38
Hello @Farkal ,

I've mentioned the same [issue here](https://github.com/VeliovGroup/meteor-autoform-file/issues/37#issuecomment-342011360). The current problem is what we're looking for help here, AutoForm API isn't obvious at all, so we need someone who knows its internals well.

[2017-11-21 21:20] Aleuck opened #39 "Only last file input works when using array of files."
I know it is a not very well supported feature, though the `README.md` is unclear whether what is unsupported is the array method or multi-file from a single `<input>`.

When using autoform's `quickForm` with a schema featuring an array of files, if you click the plus button multiple times to make the amount of file input fields you need before selecting any file, only the last of the fields will

[2017-11-22 09:32] MohammedEssehemy commented on #39
for the schema
starting from aldeed:autoform 6+ it uses [simpl-schema npm package](https://github.com/aldeed/simple-schema-js) instead of [meteor-simple-schema](https://github.com/aldeed/meteor-simple-schema)
check the [CHANGELOG](https://github.com/aldeed/meteor-autoform/blob/devel/CHANGELOG.md#600)
 and so the second schema definition is the correct one
we need to update the docs

[2017-11-23 23:20] MohammedEssehemy commented on #39
I managed to work around the problem using the following approach:
1- hide the remove link from uploaded file preview
2- attach file actions with autoform action
`  // remove file when clicking array remove btn
  $('.autoform-remove-item-wrap').on('click', function() {
    $('[data-remove-file]').first().trigger('click');
  });
  // prevent user from adding multiple empty uploaders
  $('.autoform-

[2017-12-07 21:57] dr-dimitru commented on #39
Hello @MohammedEssehemy ,

Thank you for this research.

Do you wish to send a PR?

Does it requires us to update the codebase? Or this is up to the individual implementation?

[2017-12-08 20:20] MohammedEssehemy commented on #39
Hello @dr-dimitru

I'll send one this week.

I think the codebase will need enhancement since the default behaviour (having remove button for removing files and another  button for removing array element) is ambiguous and doesn't provide good UX.

[2017-12-08 20:24] dr-dimitru commented on #39
@MohammedEssehemy sounds good, thank you. Looking forward your PR.

[2018-01-15 15:58] abmar commented on #37
I got the same annoying behavior with

and at some moment the hidden input field doesnt change at all even in case of removal or new upload.
I guess the Exception that arises, comes from the constraint {{#if Template.subscriptionsReady }} that wraps the autoform. hence, my workaround about that, to get rid of the above exception, was to issue reactively a new subscription each time the form get su

[2018-01-15 18:26] marcoschwartz commented on #37
@abmar Interesting! So what exactly did you do to fix the issues, like which files you had to modify?

[2018-01-15 19:48] abmar commented on #37
@marcoschwartz as I said the only thing I did, was an workaround consisting to issue a new subscription each time the form is submitted and the related document saved/updated.
I followed exactly what the documentation suggests for schema , collection ... declarations, and in my template's onCreated hook I did the following:
[code]

[2018-02-15 09:30] balazsbencs-attrecto opened #41 "arrow function doesn't get replaced with ecmascript"
Running meteor with --production flag or deploying to Galaxy, one arrow function in fileUpload.js doesn't get replaced with ecmascript and es5-shim installed, and it breaks compatibility in Internet Explorer.
Every other code part works fine, this is the only arrow method that doesn't get replaced.

**lib/client/fileUpload.js**
starting with line 44
`
this.collectionName = () => {
    return this.

[2018-02-15 11:57] balazsbencs-attrecto commented on #41
Some weird stuff happened: I wanted to poke around see if I can break it with a custom file upload template that I copied from the original.
I tried to store the function in a variable, and I only put the variable above that line, and it worked. Not just this variable was transpiled correctly, but the other one too. When I removed the new code, it was failing again.

[code]

[2018-03-02 12:04] dr-dimitru commented on #37
All we need is to find a hook in AF API to upload a file when form submitted (something like: `onSubmit`), not when the file is selected.

Hopefully Eric (@aldeed) can help us here.

//cc @mksh-su @abmar @marcoschwartz

[2018-03-02 12:06] dr-dimitru commented on #38
Closing in favor of #37

[2018-03-02 12:06] #38 closed

[2018-03-02 13:19] #41 closed

[2018-03-02 13:20] dr-dimitru commented on #41
@balazsbencs-attrecto thank you a lot for reporting about this.
Sorry for delay, fix is published in [`v2.1.0`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.1.0). Please upgrade to the latest release and let me know how it works for you.

[2018-04-30 23:32] #39 closed

[2018-04-30 23:33] dr-dimitru commented on #35
Closed due to silence at issue owner end.
Feel free to reopen it in case if the issue still persists on your end.

[2018-04-30 23:33] #35 closed

[2018-08-04 08:54] rich-m21 opened #43 "TypeError: Cannot read property 'filesCollection' of undefined"
I'm getting an error when I try to implement Ostrio-files, s3 and autoform directly with a QuickForm
I've done it on previous versions without hassle but on these:
ostrio:autoform-files@2.1.1
ostrio:cookies@2.3.0
ostrio:files@1.10.1
METEOR@1.7.0.3
Using Mac
Also using dburles:mongo-collection-instances

Client logs
[code]
Thanks in advance.

[2018-08-04 12:47] dr-dimitru commented on #43
@rich-m21 thank you for reporting this.
I can suggest only to try to use globally defined collection. Also you should make sure name of collection is the same as its variable.

@jankapunkt could you take a look on this, please :)

[2018-08-04 16:26] jankapunkt commented on #43
@rich-m21 can you please also add the version number of simpl-schema or add a link to a minimal Repo that reproduced the error. I got this error some weeks ago but not sure if it was trivial or related to Meteor 1.7 or so.

[2018-08-04 22:52] rich-m21 commented on #43
Sorry, I'm also using simpl-schema@1.5.3

[2018-08-05 06:12] jankapunkt commented on #43
There is a known issue with simpl-schema > 1.5 and quickform.

Does your issue resolve using simpl-schema 1.4.3?

[code]

If this does not solve your issue I will try on some reproduction.

[2018-08-05 10:45] dr-dimitru commented on #43
@jankapunkt thank you for quick response.
@rich-m21 please keep this thread updated.

[2018-08-10 09:39] jankapunkt commented on #43
@rich-m21 did this solve your issue?

[2018-08-11 18:00] rich-m21 commented on #43
Hello guys,
Sadly no,
I ended up rolling back to, given to time constraints.
METEOR@1.6.0.1
===atmosphere===
aldeed:simple-schema@1.5.3
aldeed:collection2@2.10.0
aldeed:autoform@5.8.1
ostrio:autoform-files@1.0.12
ostrio:cookies@2.2.5
ostrio:files@1.9.7

Funny thing I asked a colleague of mine's and he managed to integrate it ok (just the individual upload file, not the auto form integration.I had

[2018-08-11 18:26] rich-m21 commented on #43
Yes, I'm aware of that.
What I meant to say is that he managed to integrate it not using autoform-files just the SEPARATE upload element with the custom upload helper. Not the autoform implementation.
Cheers

[2018-08-11 20:02] jankapunkt commented on #43
ok I will create a reproduction using the given packages and versions from your initial comment

[2018-08-11 22:16] jankapunkt commented on #43
Finally found something. @rich-m21 are you sure, that the name of the `collection` in the schema matches (case-sensitive) the name of the `collectionName` property of the FilesCollection?

When you define the FilesCollection with `collectionName : 'images'` and then refer via schema to `collection: 'Images'` it will throw the above mentioned error!

@dr-dimitru maybe I update the documentation in

[2018-08-11 22:53] dr-dimitru commented on #43
Go ahead, PRs are always very welcome.

[2018-08-11 22:55] dr-dimitru commented on #43
This was in my [first message](https://github.com/VeliovGroup/meteor-autoform-file/issues/43#issuecomment-410447192) isn't it? It may sound not that clear, I agree. Let's update the docs

[2018-08-12 06:13] jankapunkt commented on #43
Correct you already mentioned that. What I wanted to say is, that this is the only cause I found for this error at this line. Will clear that in the docs

[2018-08-12 12:09] jankapunkt commented on #43
Please see #44

Regarding documentation I just found one different use of `"Images"` as collection name in

https://github.com/VeliovGroup/Meteor-Files/blob/5276d1ee352c1f64ee93968ad03b2dcad7453907/docs/gridfs-integration.md

where it is declared as `"images"` so I will create a PR there to fix this

[2018-08-14 07:50] dr-dimitru commented on #43
Solved and published as [`v2.1.2`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/2.1.2). Thank you both a lot.

Feel free to reopen it in case if the issue is still persists on your end.

[2018-08-14 07:50] #43 closed

[2018-08-17 06:56] marcoschwartz opened #45 "Error with version 2.1.2"
Hello,

I am having an issue in my Meteor app since upgrading to 2.1.2. Whenever I open a page that subscribes to the Images collection, I have the error:

[meteor-autoform-files] No such collection "Images" [404]

Before that I had no issues at all. Could this be linked to the latest fix introduced in 2.1.2? Thanks!

[2018-08-17 07:59] dr-dimitru commented on #45
Hello @marcoschwartz ,

Show us some of your code:
 1. How collection is defined?
 2. What do you pass into autoform?

In general you need to make sure spelling of `Images` collection everywhere is the same starting with capital `I`.

Hope @jankapunkt can provide more help here.

[2018-08-17 09:35] jankapunkt commented on #45
Hi @marcoschwartz

do you use `dburles:mongo-collection-instances` or do you attach the collection on global scope?

@dr-dimitru as I have currently more free time I can provide fixes asap

[2018-08-17 15:04] dr-dimitru commented on #45
@marcoschwartz do you want admin access here?

[2018-08-18 06:13] marcoschwartz commented on #45
Hi, thanks for the answers! I am not using dburles:mongo-collection-instances, and here I am defining the collection exactly as in the S3 integration example:

https://github.com/VeliovGroup/Meteor-Files/wiki/AWS-S3-Integration

I checked that Images is written the same everywhere.

Then, at the end of the file where I define the collection, I have this:

[code]

I am doing something wrong there?

[2018-08-18 06:35] dr-dimitru commented on #45
@marcoschwartz When I've asked for "How collection is defined?" I mean `new FilesCollection(/*...*/)` constructor.

[2018-08-18 07:14] marcoschwartz commented on #45
Sure, here is the whole code for that:

[code]

[2018-08-18 07:36] dr-dimitru commented on #45
@marcoschwartz just to make sure: Collection defined on both Client and Server, right?
All client collection can be found via:
[code]

[2018-08-18 10:33] jankapunkt commented on #45
@marcoschwartz  I think this is enough code for me to make a reproduction. If it won't reproduce I will upload the repo and post the link here so you can check on that, too.

@dr-dimitru thank you for your trust in me. If you think this makes the process easier than I am good with it. I also have a question regarding tests. I could try to add some tests to the package but it would require to add a

[2018-08-18 16:14] jankapunkt commented on #45
@marcoschwartz I could not recreate your issue so I uploaded a minimal example repo that you can clone and check out.

https://github.com/jankapunkt/autoform-files-issue-45

Note, that I use the gridfs example because it works locally without the need for an S3 account. However, it worked for the autoform also with S3 so you can just replace the code in `Images` to your code and it should run.

As

[2018-08-22 19:46] dr-dimitru commented on #45
@jankapunkt We have the same bug report [here](https://github.com/VeliovGroup/Meteor-Files/issues/630#issuecomment-415150806), take a look please.

[2018-08-22 19:58] anjunatic commented on #45
My collection code:
`import { Meteor } from 'meteor/meteor'
// import { Session } from 'meteor/session'
import { FilesCollection } from 'meteor/ostrio:files'

export const ProductImages = new FilesCollection({
	// debug: true,
	collectionName: "ProductImages",
	storagePath() {
		return (Meteor.settings.publicPath + Meteor.settings.productImagesPath
	)},
	allowClientCode: true, // Required to let y

[2018-08-23 06:37] jankapunkt commented on #45
Thank you @anjunatic to confirm the bug. Can one of you provide me a minimal repo that reproduces the error?

On my last attempt I could not reproduce it, maybe it is a typo hidden somewhere or something bigger that is yet uncovered. A short reply would be great. If the error is discovered I can provide a fix ASAP.

[2018-08-23 08:01] anjunatic commented on #45
@jankapunkt here is it! https://github.com/anjunatic/meteor-autoform-files-test

[2018-08-23 12:35] jankapunkt commented on #45
Thanks a lot @anjunatic found the cause of this bug and will upload the fix ASAP

[2018-08-23 15:39] jankapunkt commented on #45
@marcoschwartz @anjunatic

I created a fix and pushed it to a new branch [2.1.3](https://github.com/VeliovGroup/meteor-autoform-file/tree/2.1.3)

Please pull and add it as local package and confirm / deny if it fixes the issue. If you need help in adding the package as local package just let me know. Don't forget to checkout the branch before testing

[code]

In order to support different Meteor v

[2018-08-25 00:28] #45 closed

[2018-08-25 00:33] dr-dimitru commented on #45
@marcoschwartz @jankapunkt @anjunatic thank you all a lot!
Released as [`v1.2.3`](https://github.com/VeliovGroup/meteor-autoform-file/releases/tag/1.2.3).

Feel free to reopen it in case if the issue is still persists on your end.

[2018-09-20 15:58] anjunatic commented on #3
I added this two specified schema fields to my existent schema, and here is my form tag:
`quickForm collection=productsCollection doc=product id="updateProductForm" type="update"`

However, delete button doesn't delete fields from array, preview doesn't works right as well, showing same image for different objects!

Also, if afFieldType is 'fileUpload', why there is mention of non-existent templat

[2018-09-20 17:15] jankapunkt commented on #3
Thanks a lot for the investigation. I will look into it and update the branch accordingly.

[2018-09-24 10:32] jankapunkt commented on #3
quickForm collection=productsCollection doc=product id="updateProductForm" type="update"

I have created an experimental repo, which we can use as foundation for discussion: https://github.com/jankapunkt/meteor-autoform-multiles-example

Can you confirm, that the unwanted behavior also appears there?

(P.s. you need to clone this repo into a `packages` folder, since I wanted to avoid the submodule

[2018-11-06 12:54] jankapunkt commented on #3
@anjunatic did you check into the repo?

[2019-01-08 08:56] pfmziota opened #47 "FileId is not removed when removing file via the UI (click on remove)"
### the problem :
When removing the file via a click on 'Remove' and submitting the form, the target document still contains the id of the removed file.

### my solution :
As a quick fix, I have overwritten the fileId helper as follows
[code]

[2019-01-08 08:57] jankapunkt commented on #3
@dr-dimitru did you have time to check into the repo? If you like it, I would make it a bit more robust and create a PR for review.

[2019-01-08 08:59] jankapunkt commented on #47
@pfmziota makes sense, I will check on that. Would you mind to [open a pull request](https://help.github.com/articles/about-pull-requests/)? If it is your first PR and you want help just let me know.

[2019-01-08 17:31] pfmziota commented on #47
@jankapunkt alright then.
I created a pull request [here](https://github.com/VeliovGroup/meteor-autoform-file/pull/48)

[2019-01-09 10:01] jankapunkt commented on #47
Hey @pfmziota I just checked again and would like to see some of the code you use for the form. Can you please provide a reproducible example? On my side the `fileId` is not sent when submitting.

Please show a short example (only fileUpload related fields, all other fields are not relevant here), thank you.

[2019-01-09 18:38] pfmziota commented on #47
Here, I made a simple project to demonstrate the issue :
https://gitlab.com/mazziotta.p.f/meteor-autoform-files-basic-demo

[2019-01-21 09:50] jankapunkt commented on #47
Thanks a lot, I commented on the pull request. Should be a small change and then we can merge ;-)

[2019-01-22 16:46] interfaith opened #49 "simple example"
elementary example ? just cut and paste the provided code is not working.

[2019-01-22 21:34] jankapunkt commented on #49
Hi @interfaith, can you please give some detail on what is not working? Are there any errors on the server or browser console?

[2019-01-22 21:38] interfaith commented on #49
no errors, all is ok, yet nothing happens, no file select button showing.

On Tue, Jan 22, 2019 at 1:34 PM Jan Küster <notifications@github.com> wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2019-01-22 21:52] interfaith commented on #49
simpl-schema@1.4.3 is needed for the latest meteor
maybe this is an issue

On Tue, Jan 22, 2019 at 1:37 PM Mark Spowage <spowage@gmail.com> wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2019-01-22 21:54] jankapunkt commented on #49
yes you need version 1.4.3 since the latest waits for the maintainer of simpl-schema to merge an important fix.

[code]

[2019-01-22 22:45] interfaith commented on #49
i see the fix
the 'optional fields' must be removed (unless templates are found)
it works
thx

On Tue, Jan 22, 2019 at 1:55 PM Jan Küster <notifications@github.com> wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2019-01-23 08:10] jankapunkt commented on #49
Closed, because fixed. Feel free to reopen if the issue reappears.

[2019-01-23 08:10] #49 closed

[2019-01-24 09:53] jankapunkt commented on #47
@pfmziota I can also fix this if you want. I just want to give you the opportunity to contribute. If you like me to implement the changes as commented in the pull request #48 then please let me know. Cheers

[2019-02-14 12:48] ankitv89 commented on #37
@dr-dimitru I am getting a similar error when using `insertConfig` to manage meta data. Any Advice on how to overcome this? The file is getting inserted in the Files Collection and even uploaded to s3, but the field is null in the document send to the server.

[2019-02-15 13:27] jankapunkt commented on #37
@ankitv89 can you provide a minimal example repo which I can clone to reproduce? Then I will check into it and see if I can fix it.

[2019-02-17 20:51] interfaith commented on #49
this does not help.
the image upload works BUT no Posts documents found.
Posts.allow({
  insert: function () {
    return true;
  },
  remove: function () {
    return true;
  }
});

[2019-02-17 21:07] interfaith commented on #49
when insert is pressed
!onError hook called with arguments Arguments(2) ["insert", Error: Picture is required in posts insert
    at getErrorObject (http://localhost:3000/packages/al…, callee: ƒ, Symbol(Symbol.iterator): ƒ]
main.js:90

[2019-02-17 21:13] interfaith opened #50 "simple example"
this works
what are those lib/client files for ???
Posts   = new Meteor.Collection('posts');
Schemas.Posts = new SimpleSchema({
  title: {
    type: String,
    max: 60
  },
  picture: {
    type: String,
    autoform: {
      afFieldInput: {
        type: 'fileUpload',
        collection: 'Images',
     //   uploadTemplate: 'uploadForm', // <- Optional
    //    previewTemplate: 'myFilePreview',

[2019-02-18 09:28] jankapunkt commented on #50
Please format your code properly, there is a good help on how to format here: https://guides.github.com/features/mastering-markdown/

[2019-02-19 10:08] ankitv89 commented on #37
I will get back to you with this in a week. Thanks.

[2019-02-20 09:30] jankapunkt commented on #50
@interfaith please specify what's your problem exactly.

[2019-05-22 08:09] jankapunkt commented on #50
Closed due to inactivity. Feel free to come back reopen at any time.

[2019-05-22 08:09] #50 closed

[2019-05-22 12:55] interfaith commented on #50
yes it works ok, there was a work around.

On Wed, May 22, 2019 at 1:09 AM Jan Küster <notifications@github.com> wrote:

--
-----
Fight back spam! Download the Blue Frog.
http://www.bluesecurity.com/register/s?user=c3Bvd2FnZTI3NTk%3D

[2019-06-29 10:26] dr-dimitru commented on #37
Friendly ping for @ankitv89 @marcoschwartz @jankapunkt
Feel free to close it in case if the issue is solved on your end. If not, lets keep discussion ;)

[2019-06-29 10:56] jankapunkt commented on #3
Please keep open, new PR coming in within the next days.

[2019-06-29 10:57] dr-dimitru commented on #3
@jankapunkt 10.4

[2019-06-30 21:05] dorw123 commented on #37
Hello... I`m also having the same issue.

Exception from Tracker recompute function:

Error: Unexpected object in htmljs in toText: [object Object]
    at HTMLVisitorSubtype.visitObject (htmljs.js?hash=c52d96e73a36896980b68a9b66c659292f8e393f:292)
    at HTMLVisitorSubtype.visit (htmljs.js?hash=c52d96e73a36896980b68a9b66c659292f8e393f:113)
    at Object.HTML.toText (htmljs.js?hash=c52d96e73a368969

[2019-06-30 22:01] jankapunkt commented on #37
@dorw123 would you mind to provide a minimal repo for reproducing the issue? If I can reproduce it, chances are high that it can be fixed very quick.

[2019-07-01 06:31] dorw123 commented on #37
Sure. I`ll make one asap and add a link here.

[2019-07-04 11:07] dorw123 commented on #37
Hello @jankapunkt . Any progress so far ?

[2019-07-04 11:45] jankapunkt commented on #37
Woa, sorry! Just realized that I oversaw your comment with the link. I am just checking it out. Will get you back in a few hours.

[2019-07-04 12:04] dorw123 commented on #37
Don`t worry mate. I just manage to solve the issue. It seems like putting
[code]
inside the collection, it breaks the atts of the hidden input inside the afFileUpload template.
Removing insertConfig from collection solves the issue.

[2019-07-04 12:08] dorw123 commented on #37
Now, if you need special config, it`s just a matter of how do you set your config.

[2019-07-04 14:00] jankapunkt commented on #37
@dorw123 thanks a lot for pointing in this direction I finally found the source if the bug. If will provide a PR where I explain it.

// @dr-dimitru good news here

[2019-07-04 14:13] jankapunkt commented on #37
@marcoschwartz @abmar @ankitv89 @dorw123

PR is ready: #54

please check it out and give me feedback if anything still doesn't work.

[2019-07-04 17:32] #37 closed

[2019-10-15 07:46] bprinsloo opened #55 "Error on update forum"
I am using the latest build of all items. The upload with autoform works like a dream, but updates throws this:
Error: Unexpected object in htmljs in toText: [object Object]
    at HTMLVisitorSubtype.visitObject (htmljs.js?hash=c52d96e73a36896980b68a9b66c659292f8e393f:292)
    at HTMLVisitorSubtype.visit (htmljs.js?hash=c52d96e73a36896980b68a9b66c659292f8e393f:113)
    at Object.HTML.toText (htmlj

[2019-10-16 16:48] jankapunkt commented on #55
Hi @bprinsloo  Could you please format your code, because otherwise it is really hard to read. I will then check on your issue.

[2019-10-16 20:12] dr-dimitru commented on #55
@bprinsloo

Please reopen this issue following our [issue template](https://github.com/VeliovGroup/meteor-autoform-file/blob/master/.github/ISSUE_TEMPLATE).

//cc @jankapunkt

[2019-10-16 20:12] #55 closed

[2020-01-13 09:12] jankapunkt opened #57 "Default insertConfig chunksize and streams are NaN"
Hey @dr-dimitru ,

I am out of knowledge here. While going through the codeof PR #56 using the debugger I found a strange behavior: When there is no `insertConfig` in the schema, the values of `chunkSize` and `streams` are always `NaN`. So I checked the part where the [insertConfig is being built](https://github.com/VeliovGroup/meteor-autoform-file/blob/master/lib/client/fileUpload.js#L55). I am t

[2020-02-28 09:15] jankapunkt commented on #3
There is a new updated PR in this feature: https://github.com/VeliovGroup/meteor-autoform-file/pull/58

[2020-03-19 22:06] dr-dimitru commented on #57
Fix is awaiting in #59

[2020-03-28 23:14] dr-dimitru commented on #57
Fixed by #59
Feel free to reopen it in case if the issue is still persists on your end.

[2020-03-28 23:14] #57 closed

[2021-01-22 11:28] sebastianspiller opened #60 "Request: Will there be an upgrade to aldeed:autoform@7.0.0?"
At the moment, its constraint is aldeed:autoform@6.3.0.

[2021-02-04 23:22] dr-dimitru commented on #60
@sebastianspiller sorry for delay.
Please try [`v2.4.0`](https://github.com/veliovgroup/meteor-autoform-file/releases/tag/2.4.0)

Feel free to close it in case if the issue is solved on your end.

[2021-03-09 20:18] #60 closed

[2022-04-12 06:25] jankapunkt opened #61 "Adding hooks"
### I have a suggestion:

I am still using this and I came to some limits I'd like to solve with some hooks:

[code]

The reasons are simple:

- disable form submit/cancel until file has been uploaded
- let users remove their uploaded file by using a custom Meteor method (because the default remove is disabled)
- custom way of communicating upload errors to the user

[2022-04-12 06:40] jankapunkt commented on #61
Even easier would be to just pass the Upload context from `insert`:

[code]